@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "_Layout";
    ViewData["Title"] = "appoinmentqu";
}
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")" />
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">

        <div class="container-fluid">
            <h3 class="text-dark mb-4">Appointment&nbsp;</h3>
            <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Appointment</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form method="post" id="formid">

                                <div class="col-lg-4"><input id="intext" type="text" style="padding-right: 0px;width: 304px;margin-right: 0px;"></div>
                                <div class="col">
                                    <!--<select style="width: 83px;height: 29px;margin: 0px;margin-top: 0px;margin-right: 0px;margin-left: 142px;">
                                        <optgroup label="This is a group">
                                            <option value="12" selected="">Name</option>
                                            <option value="13">ID</option>
                                            <option value="14">C.No</option>
                                        </optgroup>
                                    </select>-->
                                </div>
                                <div class="col" style="padding: -21px;height: 30px;width: 167.344px;"><button class="btn btn-primary" id="subbtn" type="submit">Search</button></div>

                                </form>


                                <script>
                                    let formref = document.getElementById('formid');
                                    formref.addEventListener('submit', async function (e) {
                                        e.preventDefault();
                                        const searchtext = document.getElementById('intext').value;
                                        let url = `/Appointmentq/Search?searchText=${encodeURIComponent(searchtext)}`;
                                        const response = await fetch(url);
                                        const parsedHtml = await response.text();
                                        document.getElementById('partialCont').innerHTML = parsedHtml;
                                    })
                                  
                                </script>

                            </div>
                            
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Patient ID</th>
                                            <th>Name</th>
                                            <th>Contact No</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="partialCont">
                                        <!--<tr >

                                            

                                          <td>Cell 1</td>
                                            <td>Cell 2</td>
                                            <td>Cell 1</td>
                                            <td><button class="btn btn-primary" type="button" style="height: 43px;">ADD</button></td>
                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
            <div class="card shadow">
                <div class="card-header d-flex justify-content-between py-3">
                    <p class="text-primary m-0 fw-bold" style="text-align: left;">Appointment Queue&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p><button class="btn btn-primary" type="button" style="padding: 4px 12px;margin: -4px;width: 171.6875px;" data-bs-target="#modal-1" data-bs-toggle="modal">Add Appointment</button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-nowrap">
                            <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                <label class="form-label">
                                    Show&nbsp;
                                    <select class="d-inline-block form-select form-select-sm">
                                        <option value="10" selected="">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>&nbsp;
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Appoinement ID</th>
                                    <th>Patient ID</th>
                                    <th>Token</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    @foreach (var Appointment in Model)
                                    {
                                    <tr>
                                        <td>@Appointment.id</td>
                                        <td>@Appointment.patient_id</td>
                                        <td>@Appointment.id</td>
                                        <td>@Appointment.date</td>
                                        <td>@Appointment.status</td>
                                        <td>
                                            <button class="btn btn-primary py-0" type="button" style="margin-left: 2px;margin-bottom: 0px;margin-right: 26px;"><a asp-controller="Appointmentq" asp-action="DeleteAppointment" asp-route-aid="@Appointment.id" style="color:white;text-decoration:none;"><i class="far fa-trash-alt"></i></a></button>
                                            <button class="btn btn-primary py-0" type="button" style="margin-left: 0px;margin-right: 0px;"><i class="far fa-eye"></i></button>
                                        </td>
                                    </tr>
                                    }
                                    
                                
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                        </div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

